body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/* section 1 */

header, .hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.main-text {
    font-size: 48px;
    font-weight: 950;
    color: #f9faf8;
}

a, .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    gap: 50px;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 15px 0;
}

/* section 2 */

.header-text {
    font-size: 36px;
    font-weight: 990;
    color: #1f2937;
    text-align: center;
    padding-bottom: 50px;
}

.random-info {
    padding: 50px 200px;
}

.placeholders {
    display: flex;
    justify-content: center;
    gap: 50px;
} 

.placeholders div {
    width: 155px;
}

.holder {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    color: rgb(67, 65, 65);
}

/* section 3 */

.quote {
    background-color: #E5E7EB;
    padding: 150px 350px;
    margin: 50px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.speaker {
    font-size: 28px;
    font-weight: 800;
    color: #1f2937;
    text-align: right;
}

/* section 4 */

.call-to-action {
    padding: 50px 200px;
}

.box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    border-radius: 8px;
    align-items: center;
}

#act {
    font-size: 26px;
    font-weight: bold;
    color: #f9faf8;
}

#two {
    border:3px solid #f9faf8;
}

/* footer */

footer {
    background-color: #1f2937;
    margin-top: 50px;
    padding: 50px;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}